#app {
	margin: 50px;
}

#friendlist {
	overflow:auto;
	height:300px;
}

ul.friendlist {
	list-style-type: none;
	margin:0px;
	padding:0px;
}

#friendlist p {
	padding:0px 0px 0px 25px;
	background-image: url(../img/plus-icon.png);
	background-repeat:no-repeat;
}

ul.friendlist li {
	margin: 0px;
	padding: 5px;
	clear:both;
	cursor: pointer;
}

ul.friendlist li:hover {
	background-color: #e0e0e0;
}

ul.friendlist li.selected {
	background-color: #808080;
}
ul.friendlist li img { 
	width:20px;
	height:20px;
	margin: 0px 10px 0px 0px;
}

#result-container {
	height: 740px;
	max-height: 740px;
}

#result {
	height: 690px;
	overflow: scroll;
}

.hero-unit  {
	padding: 20px 60px 20px 60px;
}
.hero-unit ul li {
	font-size:12px;
	line-height:16px;
}

input { width: 70%; }

.hero-unit h1 { font-size:32px; margin: 0px 0px 0px 0px; padding:0px; }